# Data handling
pandas==2.1.0
numpy==1.27.0

# Visualization
matplotlib==3.8.0
seaborn==0.12.3
plotly==6.0.0
dash==3.7.0
dash-bootstrap-components==1.4.1
folium==0.17.1

# Machine Learning
scikit-learn==1.3.0
joblib==1.3.2

# SQL / Database
ipython-sql==0.5.3
sqlalchemy==1.3.9
prettytable==3.8.0

# Jupyter Notebook
notebook==7.2.1